
<!-- GLOBAL SEARCH -->
  <div id="brown-global-search">
    <div id="brown-nav-region">
      <div class="block block-search block-search-form " role="search">
        <div class="width content">
          <form class="google-cse" action="/university-communications/digital/university-theme" method="post" id="search-block-form" accept-charset="UTF-8">
            <div class="form-type-textfield">
              <input title="Enter the terms you wish to search for." placeholder="Search" type="text" id="edit-search-block-form--2" name="search_block_form" value="" size="30" maxlength="128" style="background: url(&quot;https://www.google.com/cse/intl//images/google_custom_search_watermark.gif&quot;) left center no-repeat rgb(255, 255, 255);">
            </div>
            <input type="hidden" name="pass" value="">
            <input type="hidden" name="current_pass" value="">
            <div class="form-actions form-wrapper" id="edit-actions">
              <input type="submit" id="edit-submit" name="op" value="Search">
            </div>
            <input type="hidden" name="form_build_id" value="form-1md_IwPtmS9JpRsmGDYQLn_CTwQVJbA-WUuup86l3oA">
            <input type="hidden" name="form_id" value="search_block_form">
          </form>
        </div>
      </div>
    </div>
  </div>


<!-- GLOBAL HEADER -->

<section id="brown-nav">
  <div class="marginator">
    <div id="brown-header">
      <h1><a href="//www.brown.edu">Explore Brown University</a></h1>

      <div id="search-mobile-btns">

        <!-- SEARCH - remove this block if not using search -->
        <div class="search-btn-padding">
          <a class="btn-search" href="#">
          <p>
            <i class="i-search" aria-hidden="true"></i> <span>Search</span>
          </p>
          </a>
        </div>
        <!-- SEARCH - END -->


        <!-- GLOBAL NAVIGATION -->
        <span class="toggle-brown">
          <a href="#" id="brown-menu-button" class="hamburger hamburger--spin" onclick="ga('send','event','Brown Menu','Click','Click Brown Hamburger')">
            <span class="hamburger-box">
              <span class="hamburger-inner"></span>
            </span>

            <span class="mobile-btn-text">Global Navigation</span>
          </a>
        </span>
      </div>
    </div>
  </div>

  <div class="clearfix"></div>

  <!-- NAVIGATION ITEMS -->
  <nav id="u-nav">
    <div class="marginator">
      <div id="brown-link-list">
        <div class="item-list" id="learn-list">
          <h3 class="hidden">Learn More</h3>
          <ul>
            <li><a href="//www.brown.edu/about">About Brown</a></li>
            <li><a href="//www.brown.edu/academics">Academics</a></li>
            <li><a href="//www.brown.edu/admission">Admission</a></li>
            <li><a href="//www.brown.edu/research">Research</a></li>
            <li class="last"><a href="//www.brown.edu/campus-life">Campus Life</a></li>
          </ul>
        </div>
        <div class="item-list" id="find-list">
          <h3 class="hidden">Find</h3>
          <ul>
            <li class="first"><a href="//www.brown.edu/a-to-z">A to Z Index<span class="i-carrot-right"></span></a></li>
            <li class="last"><a href="//directory.brown.edu">People Directory<span class="i-carrot-right"></span></a></li>
          </ul>
        </div>
      </div>
      <div id="brown-link-list-extra">
        <div class="item-list" id="information-list">
          <h3>Information for</h3>
          <ul>
            <li class="first"><a href="//www.brown.edu/gateway/current-students">Students</a></li>
            <li><a href="//www.brown.edu/gateway/faculty">Faculty</a></li>
            <li><a href="//www.brown.edu/gateway/staff">Staff</a></li>
            <li><a href="//www.brown.edu/gateway/families">Families</a></li>
            <li><a href="//brunonia.brown.edu/alumni">Alumni</a></li>
            <li class="last"><a href="//www.brown.edu/gateway/friends-and-neighbors">Friends &amp; Neighbors</a></li>
          </ul>
        </div>
        <div class="item-list" id="destination-list">
          <h3>Top Destinations</h3>
          <ul>
            <li><a href="http://www.brown.edu/about/administration/global-engagement/">Global Brown</a></li>
            <li><a href="http://watson.brown.edu/">Watson Institute</a></li>
            <li><a href="http://www.brown.edu/gradschool">Graduate School</a></li>
            <li><a href="http://med.brown.edu">Alpert Medical School</a></li>
            <li><a href="http://www.brown.edu/academics/public-health/">School of Public Health</a></li>
            <li><a href="http://brown.edu/academics/engineering/">School of Engineering</a></li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</section>
